[2017-08-08 19:53] andfoy opened #46 "Check if terminal dimensions are positive integers"

[2017-08-08 19:53] andfoy opened #47 "Include pypiwin32 dependency using an env variable"

[2017-08-08 23:14] #46 closed, assigned to andfoy

[2017-08-08 23:32] #47 closed, assigned to andfoy

[2017-08-08 23:33] andfoy opened #50 "Release v0.1.4"

[2017-08-08 23:34] #50 closed, assigned to andfoy

[2017-08-10 15:22] stonebig opened #51 "not finding "winpty.h" while recompiling v0.1.4"
message is:
[code]

[2017-08-10 15:33] stonebig commented on #51
ah, it's in https://github.com/rprichard/winpty/blob/master/src/include/winpty.h

not used to compile, sorry for the noise

[2017-08-10 15:33] #51 closed, assigned to nobody

[2017-08-10 16:26] stonebig commented on #47
hi. I'm trouble:
- until now, I'm using http://www.lfd.uci.edu/~gohlke/pythonlibs/#pywin32 wheels (pywin32‑221‑cp35‑cp35m‑win_amd64.whl)
- here you point to pypiwin (pypiwin32-219-cp35-none-win_amd64.whl).

Is it the same thing ?

[2017-08-10 17:22] stonebig commented on #47
A suggested  workaround is to postpone the requirement untile cgohlke, pf_moore and other do align.

I really prefer to keep cgohlke wheel on this package.

 https://github.com/spyder-ide/pywinpty/blob/master/setup.py#L42

[2017-08-10 17:32] stonebig opened #52 "remove 'pypiwin32' from setup requirements"
Mark Hammond did publish a wheel "pypiwin32" but:
- the package name (and sourceforge page) is "pywin32",
- cgohlke publish fresher wheels under "pywin32" name.

so to be able to keep cgohlke wheels, I whish you remove this line for the moment (when publishing wheels) (reverting https://github.com/spyder-ide/pywinpty/pull/49)

https://github.com/spyder-ide/pywinpty/blob/master/setup.py#L42

[2017-08-10 20:39] andfoy commented on #52
@stonebig As long there's not an unified and official wheel release of pywin32, we can't remove this dependency. Pywinpty should work out of the box, and that includes dependencies that should be downloaded from PyPi

[2017-08-10 21:09] stonebig commented on #52
ok, I'll look for a workaround.

[2017-08-10 21:38] andfoy commented on #52
@ccordoba12 Should we remove pywin32 dependencies to prevent any problem with other pywin32 distributions?

[2017-08-10 21:39] ccordoba12 commented on #52
Is it possible? What are you using pywin32 for?

[2017-08-10 21:43] goanpeca commented on #52
@andfoy for your specific use case, maybe we could use CTypes directly and not rely on pywin?

[2017-08-10 22:03] andfoy commented on #52
That was my original intent, however, when I implement reading/writing routines directly on C, they cause several errors, that's why they were removed on #16

[2017-08-10 22:09] stonebig commented on #52
as a matter of fact, all the sources published are apparently pointing to "pywin32" as the name of the package. so the true source of "pypiwin32" is unknown, both in:
- https://github.com/pywin32 (look for yourself)
- http://pywin32.hg.sourceforge.net/hgweb/pywin32/pywin32/summary
- there is no account https://github.com/pypiwin32

Example :

 I can see in setup.py a reference to a file that is no

[2017-08-10 22:21] andfoy commented on #52
@ccordoba12 @goanpeca I'll try to migrate I/O functions using cytpes directly instead of using pywin32

[2017-08-10 22:21] goanpeca commented on #52
@andfoy I mean that you can directly call the windows DLLS that handle that, instead of using PyWin32 which is a convenience library (which probably use Ctypes underneath).

[2017-08-10 22:23] goanpeca commented on #52
Look in the code of PyWin32 for the specific methods you need and maybe you can use that logic directly.

[2017-08-11 03:29] ghost commented on #52
The pipe name returned from `winpty_conin_name()` etc could be directly passed to builtin `open()` to open. So except some extra features, I think use `open()` is enough

[2017-08-12 08:17] stonebig commented on #52
Twisted father confessed paternity of pypiwin32 wheels, as he need pywin32 wheels on pypi. https://twitter.com/glyph/status/896265360546029568

Indeed, it's on the setup:
https://github.com/twisted/twisted/blob/trunk/src/twisted/python/_setup.py#L109

Unless @TitanSnow trick has an easy solution, I will move from pywin32 wheel of cgohlke to pypiwin32 wheel.

[2017-08-12 08:39] stonebig commented on #52
There has been updates to "pywin32" project, and "pypiwin32" wheels are outdated.

http://pywin32.hg.sourceforge.net/hgweb/pywin32/pywin32/raw-file/tip/CHANGES.txt

so my demand to remove the "pypiwin32" wheel dependancy (in setup.py) remains pertinent, until up-to-date wheels are available on pypi.

[2017-08-12 11:19] ghost commented on #52
The only problem is that there seems to be no way to get length of a pipe opened by `open()`. [winpty/winpty_wrapper.py#L42](https://github.com/spyder-ide/pywinpty/blob/467a36cc1ee773ae6f401072d3b200b65411062b/winpty/winpty_wrapper.py#L42) uses `GetFileSize()` to know length of pipe which cannot be implemented with python's file object

For opening pipe and read, write, `open()` works well

A work

[2017-08-12 15:31] andfoy commented on #52
@stonebig Thanks for digging out this issue with the package developers. To prevent any package mangling, I'll migrate all functions to ``ctypes``.

As for the duality between non-blocking and blocking read that @TitanSnow mentioned, we require pywinpty callers to poll continously the output pipe to see if there are new contents available. Because ``ReadFile`` is blocking, we must first poll the p

[2017-08-12 22:27] ghost commented on #52
I think there are some better solutions on block and non-block

* `read()` does not accept a `length` argument and always read exact length of data got from `GetFileSize()`
* `read()` reads the min length of filesize and `length` arg
* `read()` always reads `length` data

The first two are non-block always, and last is block always.

[2017-08-12 22:36] andfoy commented on #52
I think this should be the default behaviour.

[2017-08-12 22:39] ghost commented on #52
To apply this solution, I found that just need to modify [winpty_wrapper.py#L45](https://github.com/spyder-ide/pywinpty/blob/467a36cc1ee773ae6f401072d3b200b65411062b/winpty/winpty_wrapper.py#L45) a little

[2017-08-12 22:39] andfoy commented on #52
Yes, I should include this as part of the cytpes migration.

[2017-08-22 05:10] #52 closed, assigned to nobody

[2017-08-22 05:11] andfoy opened #54 "Release 0.2"

[2017-08-22 05:23] #54 closed, assigned to andfoy

[2017-08-22 12:33] ccordoba12 commented on #54
Why 0.2.0 is not uploaded to PyPi?

[2017-08-22 16:32] andfoy commented on #54
I will upload the wheels right now, it was too late yesterday :-)

[2017-08-22 16:34] ccordoba12 commented on #54
Ok, no problem :-) But please don't make half-way releases for next time.

[2017-08-22 17:15] ghost commented on #52
Just in case you are wondering, I have taken over maintenance of the "pywin32" project. I would highly recommend that "pywin32" be eliminated as a dependency for as many projects as possible because it is not a safe dependency at all.

[2017-08-22 17:44] andfoy commented on #52
@xoviat Thanks for the advice!

[2017-08-22 18:07] andfoy commented on #54
@ccordoba12 They're available right now on PyPi

[2017-08-22 18:19] ccordoba12 commented on #52
@xoviat, why is not a safe dependency?

[2017-08-22 18:38] ghost commented on #52
I should mention that all of the wheels on pypiwin32 come from running
'wheel convert' on the installers that you can download from sourceforge.

2017-08-22 13:36 GMT-05:00 xoviat <xoviat@gmail.com>:

[2017-08-23 01:48] andfoy opened #55 "isalive returns True if the underlying winpty process is dead, False otherwise"
Return value should be True if the process is alive, False otherwise

[2017-08-23 02:20] andfoy opened #56 "Each call to isalive function cause to escape unwanted characters on output pipe"
Instead of using ``WriteFile`` to check if the process is still open, we should use ``PeekNamedPipe`` to see if the pipe is alive.

[2017-08-23 19:44] #55 closed, assigned to andfoy

[2017-08-23 19:44] #56 closed, assigned to andfoy

[2017-08-23 19:45] andfoy opened #58 "Release v0.2.1"

[2017-08-23 19:47] #58 closed, assigned to andfoy

[2017-10-05 12:48] andfoy opened #59 "Access violation writing 0x0000000000000000 on Windows 7"
@jxrossel commented on [Wed Oct 04 2017](https://github.com/spyder-ide/spyder-terminal/issues/115)

## Description of your problem

When starting spyder, I get an error message with "Terminal server could not be located (...)" and something about starting spyder in debugging mode (which I don't know how to do).

**What steps will reproduce the problem?**

1. starting spyder
2.
3.

**What is the ex

[2017-10-05 12:49] andfoy opened #60 "Terminal server could not be located"
@jxrossel commented on [Wed Oct 04 2017](https://github.com/spyder-ide/spyder-terminal/issues/115)

## Description of your problem

When starting spyder, I get an error message with "Terminal server could not be located (...)" and something about starting spyder in debugging mode (which I don't know how to do).

**What steps will reproduce the problem?**

1. starting spyder
2.
3.

**What is the ex

[2017-10-05 12:50] andfoy commented on #60
This is a duplicate of #59

[2017-10-05 12:50] #60 closed, assigned to nobody

[2017-10-05 13:03] andfoy commented on #59
Actually, it seems that Windows API functions should be declared explicitly: https://github.com/asweigart/pyperclip/issues/25#issuecomment-269271886

[2017-10-06 04:50] jxrossel commented on #59
Still doesn't work:
[code]

[2017-10-06 05:03] jxrossel commented on #59
... and another error appeared in spyder after trying to open/close a terminal:
[code]

[2017-10-06 13:02] andfoy commented on #59
I think this is an issue related to your distribution header files, I don't know what else to do on your case.

[2017-10-06 13:06] jxrossel commented on #59
You mean it doesn't / won't work with WinPython as distribution ?

[2017-10-06 13:54] andfoy commented on #59
@stonebig, we have a problem here, have you had more problems with Access Violation Errors?

[2017-10-06 13:55] andfoy commented on #59
@jxrossel, I've just asked to the current mantainer of WinPython if he can give us some help.

[2017-10-06 16:20] stonebig commented on #59
I didn't notice, but also I'm not on Windows7, and I always live in next "beta". will re-check before next beta.

Well, I can't create a second Terminal2, it freeze the Terminal1, but I don't have any problem in Terminal1.

[2017-11-07 17:24] MRGiacalone commented on #59
Following Pyperclip issue [https://github.com/asweigart/pyperclip/issues/25](url) landed on this one. My issue seems to be related to the Windows 10 clipboard

In my case I am using Passpie to copy a password to the clipboard.
[code]
I am not using WinPython, but rather Anaconda (Miniconda) on Windows 10. Python version 3.6.2 64 bit.

Any clues as to why the OSError: occurs while trying to use the

[2017-11-14 21:41] andfoy commented on #59
According to this [SO answer](https://stackoverflow.com/a/33285993/1143629), this an error ocurring on some 64-bit Python Windows binaries. I'm closing this issue since I don't know how to address this. All our ctypes calls have been tested and have been found to be functional.

[2017-11-18 10:24] andfoy opened #63 "Implement a process wrapper"

[2017-11-18 10:55] #63 closed, assigned to nobody

[2017-11-18 10:56] andfoy opened #64 "Release 0.3.0"

[2017-11-18 11:02] blink1073 commented on #64
I use these bash scripts to help with python and conda-forge releases.  I put all of my feedstock repos in `~/workspace` (the hard coded part).

[code]

[2017-11-18 11:10] blink1073 commented on #64
(Of course, this one is a different beast with the C extension).

[2017-11-18 11:10] andfoy commented on #64
@blink1073 Thanks for sharing these scripts, they are handy to avoid some of the manual manoeuvres

[2017-11-18 11:11] andfoy commented on #64
Yes! It involves MSVC compilation on some VMs

[2017-11-18 11:16] #64 closed, assigned to nobody

[2017-11-18 11:16] blink1073 commented on #64
Hmm, there is the approach of using appveyor to publish the wheel if the commit is tagged:

https://refi64.com/posts/using-appveyor-to-distribute-python-wheels.html
https://github.com/project-rig/rig_c_sa/blob/9820d00bee573585695d52df8ee0565b331e6da9/appveyor.yml#L72

[2017-11-18 11:18] blink1073 commented on #64
Would reduce the friction of whether to make a change because it is difficult to release.

[2017-11-18 11:19] andfoy commented on #64
@blink1073 Actually, I would like to automate the publishing process, but I don't have the permissions to add env variables to AppVeyor (To add my username and password). @goanpeca @ccordoba12 what do you think about this ?

[2017-11-18 15:05] ccordoba12 commented on #64
Sounds good, let me see what I can do about it.

[2017-11-18 15:26] ccordoba12 commented on #64
@andfoy, you have permissions now to admin all our AppVeyor repos.

[2017-11-20 12:27] andfoy opened #68 "Enable automatic wheel distribution using AppVeyor"

[2017-11-20 17:41] #68 closed, assigned to nobody

[2017-11-20 20:53] andfoy opened #71 "Release 0.4"

[2017-11-20 20:54] #71 closed, assigned to nobody

[2017-11-20 21:43] andfoy opened #72 "Release 0.4.1"
I forgot to add instructions to pack winpty binaries alongside binary wheels

[2017-11-20 22:51] andfoy opened #73 "Copy winpty binaries on Appveyor upload"

[2017-11-20 23:13] #73 closed, assigned to nobody

[2017-11-23 15:34] #72 closed, assigned to nobody

[2017-11-27 12:40] blink1073 opened #75 "Python 2.7 Support?"
Given @SylvainCorlay's comment [here](https://github.com/conda-forge/conda-forge.github.io/issues/460#issuecomment-343332639), I think we should resurrect https://github.com/spyder-ide/pywinpty/pull/66.  We are relying on `winpty` to handle the memory alloc/dealloc, and we are not passing OS primitives as described by @mingwandroid [here](https://github.com/conda-forge/conda-forge.github.io/issues

[2017-11-27 14:59] ccordoba12 commented on #75
Ok, as long as you fix our conda packages and wheels to use MSVC 14 for Python 2, I'm fine with it.

[2017-11-27 15:23] andfoy commented on #75
@blink1073 Ok Steven, go ahead!

[2017-11-27 22:45] #75 closed, assigned to blink1073

[2017-11-27 22:50] andfoy opened #76 "Release 0.5"

[2017-11-27 22:56] #76 closed, assigned to nobody

[2017-11-27 23:12] blink1073 opened #77 "Why is the tarball so huge?"
Shouldn't the tarball only include source files?  We currently include built files and it is 48MB.

[2017-11-27 23:13] blink1073 commented on #77
cf https://github.com/spyder-ide/pywinpty/blob/2a6c299c9578d5256f8313c9cfa57c6dcdeef11e/MANIFEST.in#L4-L5

[2017-11-27 23:15] andfoy commented on #77
@blink1073 It seems that the Miniconda distribution is being packed alongside the sdist

[2017-11-27 23:15] blink1073 commented on #77
Ha, I was just about to post that ;).

[2017-11-27 23:16] andfoy commented on #77
Maybe we should only add the winpty-specific binaries, I did put the wildcard just because of laziness haha

[2017-11-27 23:16] blink1073 commented on #77
I don't think any binaries should go in a tarball, you are meant to build those yourself.

[2017-11-27 23:17] andfoy commented on #77
How do is exclude done only on sdist distributions?

[2017-11-27 23:18] blink1073 commented on #77
You leave out `include_package_data` and don't put it in the `MANIFEST.in`.

[2017-11-27 23:18] blink1073 commented on #77
PR coming

[2017-11-27 23:18] andfoy commented on #77
Thanks!

[2017-11-28 09:01] #77 closed, assigned to nobody

[2017-11-29 14:51] ccordoba12 opened #81 "Update instructions to build from source for Python 2"
@blink1073, please update the instructions to build from source in our Readme for Python 2.7.

I mean, we need to show users that they need to setup the right env vars for setuptools to use MSVC 2013 instead of 2008.

[2017-12-01 17:13] #81 closed, assigned to blink1073

[2017-12-01 17:14] andfoy opened #83 "Release 0.5.1"

[2017-12-01 17:14] #83 closed, assigned to andfoy

[2017-12-01 20:29] ccordoba12 opened #84 "Release 0.5.1"
I think 0.5.1 is ready. @andfoy, please do the honors of a releasing this version.

[2017-12-01 20:31] ccordoba12 commented on #84
Sorry, I haven't seen a previous issue about this.

[2017-12-01 20:31] #84 closed, assigned to andfoy

[2018-01-18 13:38] blink1073 commented on #59
It seems as if the issue has resurfaced: cf https://github.com/jupyterlab/jupyterlab/issues/3647

[2018-01-19 10:30] andfoy commented on #59
@blink1073 It seems the error is still present on some x64 Windows Python distributions. AFAIK, we cannot solve this on our own account.

[2018-01-20 13:27] dalito opened #86 "OSError: [WinError 10048] on spawning of PtyProcess"
This is a follow up of #85. (Pywintypes 0.5.1, Win7, Python-3.6.4-64bit)

If a socket is already in use, an OSError is raised on Windows. However, [_get_address](https://github.com/spyder-ide/pywinpty/blob/master/winpty/ptyprocess.py#L352) increments the port number only for socket.error but not for OSError.

Changing the code to increment the port number on OSError solves the problem 99% of the t

[2018-01-20 13:55] dalito commented on #86
Hmm. This

is not correct according to Python socket documentation.  Maybe the only problem is that get_address is separated from the bind operation and it was pure luck that I did get the error less often after my code modification.

[2018-01-20 15:02] ccordoba12 commented on #86
Could you open a pull request for this? Thanks!

[2018-01-22 13:44] dalito commented on #86
Just for completeness: The error message was
[code]

[2018-01-27 16:50] #86 closed, assigned to nobody

[2018-02-02 12:56] mingwandroid commented on #59
Why not try using http://repo.msys2.org/msys/x86_64/winpty-0.4.3-1-x86_64.pkg.tar.xz which is compiled with mingw-w64 like winpty is supposed to be compiled? What are you even using this stuff for though? Why not just spawn a thread with an event loop to communicate with Python?

[2018-02-02 13:33] ccordoba12 commented on #59
Ray, two things:

1. winpty can be compiled with visual studio and mingw.
2. We're not trying to communicate with Python. Instead, we want to have a pseudo terminal to be able to embed cmd or PowerShell in an application.

[2018-02-02 13:54] mingwandroid commented on #59
winpty cannot be compiled with Visual Studio, please read the upstream https://github.com/rprichard/winpty

I believe someone added support for using Visual Studio but the runtime is then not the expected one (VC6 runtime) and you get this error. Whether this can be fixed or not (outside of compiling it with the compilers that the author supports => which are present in the msys2 channel in the `A

[2018-02-02 16:48] ccordoba12 commented on #59
We would need to start using the mingw toolchain to compile winpty and also pywinpty. That's easy for conda packages but how can we generate wheels with that?

[2018-02-02 18:06] mingwandroid commented on #59
I don't know anything about how wheels are generated, sorry. @jjhelmus has been looking into winpty for AD recently, maybe he knows?

[2018-02-02 19:41] jjhelmus commented on #59
There are conda packages winpty compiled using mingw-w64 available in the `defaults` channel as well as pywinpty packages built using VS 2008 for Python 2.7 and VS 2015 for Python 3.5 and 3.6.

Even using mingw-w64 to build winpty I can replicate this issue so I do not believe problem is in the toolchain used.

Wheels could be produced in the same manner as the conda packages.  Use mingw-64 to com

[2018-02-06 19:11] blink1073 commented on #59
@jjhelmus, were you also using Windows 7 when you replicated this issue?

[2018-02-06 19:12] blink1073 commented on #59
FWIW I just tried again today on Windows 10 with the latest Miniconda for Python 3.6 and wasn't able to replicate the issue.

[2018-02-06 19:13] jjhelmus commented on #59
Yes, I replicated this on Windows 7.

[2018-02-06 19:23] ccordoba12 commented on #59
@SimonBiggs, @dalito, are you also using Windows 7?

[2018-02-06 19:41] SimonBiggs commented on #59
Yes.

[2018-02-06 19:42] SimonBiggs commented on #59
System details were provided within the following issue:
https://github.com/jupyterlab/jupyterlab/issues/3647

[2018-02-06 19:46] ccordoba12 commented on #59
Then terminals should be deactivated on Win 7 in JupyterLab, notebook and spyder-terminal. I mean, I don't see any other choice until someone finds a solution for this.

@blink1073, what do you think?

[2018-02-06 20:06] blink1073 commented on #59
Yeah, it looks like Windows 7 is the common thread.  I don't have access to Windows 7 for testing.  We could use [sys.getwindowsversion().major](https://docs.python.org/2/library/sys.html#sys.getwindowsversion) in the spyder-terminal and the notebook repo, which would also disable JupyterLab.

[2018-02-06 20:11] blink1073 commented on #59
Alternatively, we could raise an `ImportError` in this library based on that condition, which would require no changes to notebook.

[2018-02-06 20:14] ccordoba12 commented on #59
Good idea! It's better to do it here to avoid other applications using `pywinpty` on Win 7, since it's known to generate this ugly error.

Could you take care of that @blink1073?

[2018-02-06 20:15] blink1073 commented on #59
Yep, coming right up!

[2018-02-06 20:15] ccordoba12 commented on #59
Nice! Thanks a lot!

[2018-02-07 00:58] blink1073 commented on #59
Can someone with Windows 7 please test the following?

[code]

[2018-02-07 01:42] dhirschfeld commented on #59
I don't seem to be seeing this issue myself on Win7

[code]

[code]
![image](https://user-images.githubusercontent.com/881019/35893907-e9bd1db8-0bfb-11e8-973b-52a2c836a0c5.png)

[2018-02-07 01:54] blink1073 commented on #59
@dhirschfeld, does the high level code work for you on Win 7 as well?

[code]

[2018-02-07 02:01] dhirschfeld commented on #59
On the first attempt I got an `OSError`:
[code]

I tried again and got the access violation:
[code]

...and I'm now continuing to get the access violation with that code

[2018-02-07 09:13] andfoy commented on #59
@blink1073 Do we have any idea of why the low-level API is working but not the high-level? Is very counterintuitive, as the reading access is done on the low-level side. But the example given by @dhirschfeld shows that the low level access is working as expected.

**Sidenote:** BTW, the 32-bit wheels up to the 4.2.0 release were compiled on Windows 7 without any problems.

[2018-02-07 09:14] andfoy commented on #59
@dhirschfeld After trying the high-level access, does the low-level API works for you?

[2018-02-07 09:30] dhirschfeld commented on #59
Yep, seems to.
Output from Python session:
[code]

[2018-02-07 12:14] blink1073 commented on #59
Ah, my mistake. The low level code I posted doesn't attempt to read. It should be:

[code]

[2018-02-07 14:53] jjhelmus commented on #59
Here are the results from a Windows 7 VM using the packages from conda-forge

[code]

[code]

The same results are seen with the packages from the defaults channel.

[2018-02-07 15:15] dalito commented on #59
On Windows7 Pro 64bit, SP1:
[code]

[2018-02-07 15:15] blink1073 commented on #59
And how about this?  We'd raise an import error if not valid:

[code]

[2018-02-07 15:19] dalito commented on #59
[code]

[2018-02-07 23:38] dhirschfeld commented on #59
Calling `p.read()` does give the access violation:
[code]

The latter test results in `valid=False` for me:
[code]

[2018-02-08 08:52] padremayi opened #91 "winpty.lib missing error"
Installing pywinpty with
`python setup.py install`

we receive this error:

This is due to setup script that point to winpty.lib in
`C:\Python34\PCbuild`

You have to create that folder and put winpty.lib inside it if you want to complete the procedure. Complete linker command is:

`C:\Program Files (x86)\Microsoft Visual Studio 10.0\VC\BIN\link.exe /DLL /nologo /INCREMENTAL:NO /LIBPATH:C:\Python3

[2018-02-08 09:25] padremayi commented on #91
OK, it is impossible to use the library:

ImportError: DLL load failed: The specified procedure could not be found.

[2018-02-08 14:20] ccordoba12 commented on #91
Pywinpty doesn't work with Python 3.4, sorry. We're also trying to solve the last error you reported, but for Python 2.7.

[2018-02-08 14:20] #91 closed, assigned to nobody

[2018-02-09 09:30] padremayi opened #92 "Python 3.6 doesn't support UR prefix"
The example in the main page is incorrect:
[code]
because Python 3.6 doesn't support UR prefix. You have to pass it as a string:
`process.spawn('C:\windows\system32\cmd.exe')`

For Command Prompt if you use / instead of \ in the process.spawn() it doesn't work.

Is there a way to pass complicated command using PTY instead of PtyProcess?

Thanks

[2018-02-10 14:55] padremayi opened #93 "from .cywinpty import Agent --> Error Python 3.6.4 and 2.7.x"
It is impossible to use the library due to this error:

ImportError: DLL load failed: The specified procedure could not be found.

Executing
`python setup.py install`

I see this error but the procedure finishes without any problem:
`winpty/cywinpty.pyx: cannot find cimported module 'winpty._winpty'`

[2018-02-10 15:26] andfoy commented on #93
@padremayi How did you installed the package?

[2018-02-10 15:27] padremayi commented on #93
With
`python setup.py install`

[2018-02-10 15:31] andfoy commented on #93
From which directory are you trying to perform the import?

[2018-02-10 15:34] padremayi commented on #93
I wrote an application that uses pywinpty library. Simplifying I use the example in the main page:
[code]

[2018-02-10 15:36] andfoy commented on #93
But are you doing the tests outside your ``pywinpty`` clone folder?

[2018-02-10 15:37] andfoy commented on #93
BTW, it is recommended to use ``pip install -U .``

[2018-02-10 15:39] padremayi commented on #93
Yes, the error comes out during the first import:
[code]

[2018-02-10 15:40] andfoy commented on #93
@padremayi Please uninstall the package and install it using ``pip install -U .``

[2018-02-10 15:41] padremayi commented on #93
I'll try right now and let you know.

Thanks

[2018-02-10 16:08] padremayi commented on #93
I found the problem; sometimes on .\Lib\site-packages\winpty folder inside Python folder these files are missing:
winpty.dll
winpty-agent.exe
winpty-debugserver.exe

[2018-02-10 16:37] andfoy commented on #93
@padremayi They are included by using the pip command instead of the usual ``python setup.py install``. We define additional packaging rules.

[2018-02-10 16:37] #93 closed, assigned to nobody

[2018-02-10 16:37] andfoy commented on #93
I'm glad that is working now for you

[2018-02-10 16:38] andfoy commented on #93
If you install pywinpty by source, you must have installed winpty binaries beforehand

[2018-02-10 17:08] padremayi commented on #93
Many thanks for your help on poiting me on the right direction. I confirm that with Python 3.4.x it doesn't work also compiling winpty from source.

Maybe when you resolve [the problem for Python 2.7.x](https://github.com/spyder-ide/pywinpty/issues/91#issuecomment-364125574) the fix will work also on Python 3.4.x

[2018-05-21 18:18] andfoy opened #96 "Fix CI Build"
Use msys2/cygwin to compile pywinpty instead of MSVC on AppVeyor

[2018-05-23 04:31] #96 closed, assigned to nobody

[2018-05-23 18:41] ccordoba12 opened #101 "Update Readme according to latest changes"
@andfoy, please:

1. Remove reference to conda-forge because now pywinpty can be installed from the defaults channel.
2. Update the compilation process to mention that we now use mingw.

[2018-05-23 23:53] andfoy opened #102 "Release v0.5.2"

[2018-05-24 00:08] #59 closed, assigned to blink1073

[2018-05-24 01:00] ccordoba12 commented on #102
+1 from me. Thanks!

[2018-05-24 02:47] #101 closed, assigned to andfoy

[2018-05-24 02:47] #102 closed, assigned to nobody

[2018-05-25 20:30] ccordoba12 opened #105 "0.5.2 wheels seem to be missing some DLLs"
See jupyterlab/jupyterlab#4642.

@andfoy, please install the Jupyter notebook or JupyterLab and verify that their consoles are working on Windows.

[2018-05-26 02:39] andfoy commented on #105
Note to self: We're missing libgcc_s_dw2-1.dll

[2018-05-26 03:15] andfoy opened #107 "Release 0.5.3"

[2018-05-26 03:22] #105 closed, assigned to andfoy

[2018-05-26 03:24] #107 closed, assigned to nobody

[2018-06-06 05:11] axil opened #108 "Access violation once again"
I'm getting

[code]
error whenever I'm trying to launch jupyter-notebook.

According to [this](https://stackoverflow.com/questions/14753939/unhandled-exception-at-0x76b1dd74-access-violation-writing-location-0x00000000) SO post the fourth parameter to ReadFile cannot be null.

Indeed, setting it to a valid pointer resolves the issue.

[2018-06-06 17:09] andfoy opened #110 "Disable ptyprocess blocking read by means of a environment variable"

[2018-06-06 19:53] #108 closed, assigned to nobody

[2018-06-07 08:49] nurp commented on #59
I can't even import winpty on Windows7 with python 3.5.4.
I only wanted to run "jupyter notebook" but maybe this error is not a problem?
[code]
..........
same message replicated for 10 threads

[code]

[2018-06-07 12:15] ccordoba12 opened #111 "Remove validation at import introduced in 0.5.2"
Now that it we seems we have a real for the nasty access violation error, I think we can remove that expensive validation.

[2018-06-07 12:51] andfoy commented on #59
@nurp Thanks for the report, We've just merged a definitive solution for this issue on https://github.com/spyder-ide/pywinpty/issues/108 and we expect to publish a hotfix release today.

[2018-06-07 23:51] andfoy opened #114 "Release v0.5.4"

[2018-06-08 00:01] #111 closed, assigned to andfoy

[2018-06-08 00:04] ccordoba12 commented on #114
+1 from me.

[2018-06-08 03:53] #110 closed, assigned to andfoy

[2018-06-08 03:53] #114 closed, assigned to nobody

[2018-06-08 04:12] andfoy commented on #92
@padremayi Sorry for such late response to your question. Python 3 supports unicode strings by default, so you just need to declare them using the ```r``` prefix.

[2018-06-08 04:12] #92 closed, assigned to nobody

[2018-07-10 15:32] matthew-brett opened #116 "Python 3.7 wheels?"
Any chance of providing wheels for Python 3.7?  Can I help?  I do a lot of package building...

[2018-07-10 17:03] andfoy commented on #116
@matthew-brett Thanks for your iniciative, right now we're using conda-forge to build and upload our wheels. While in principle, we support 2.7, 3.5 and 3.7, you can build the 3.7 wheels until they are supported by conda. However, we don't guarantee that they will get updated when a new release should be available.

[2018-07-10 18:07] matthew-brett commented on #116
Aha - I see you need the winpty package installed, and maybe you need the mingw-w64 compiler?

Does conda-forge not yet support Python 3.7?

[2018-07-10 19:27] ccordoba12 commented on #116
We use the Anaconda packages and toolchain to create our packages, so we have to wait until they provide the packages that we need to build our wheels.

[2018-07-10 21:00] matthew-brett commented on #116
I'll try and work out how to build without conda, but I'm very busy these next few days, maybe Saturday.

[2018-07-10 21:24] ccordoba12 commented on #116
@matthew-brett, thanks for your offer but I don't think we'd accept such a contribution. We prefer to stick to conda packages because we know them very well, we have a close relationship with the Anaconda team and we already moved from one toolchain to another (VS to MSYS2) and it halted the project for a couple of months.

[2018-07-10 21:30] matthew-brett commented on #116
Ah - no - I wasn't expecting you to merge what I did - I was only going to build a separate repo that can build wheels.  You can ignore it peacefully if it is of no use to you.

[2018-07-10 21:52] ccordoba12 commented on #116
Ok, if you want to build your own wheels, then we don't have a problem with that.

[2018-08-23 09:09] dhirschfeld opened #117 "Possibly of interest?"
In case you hadn't already seen:

https://blogs.msdn.microsoft.com/commandline/2018/08/02/windows-command-line-introducing-the-windows-pseudo-console-conpty/

Feel free to close as this isn't really an issue.

[2018-08-23 12:32] andfoy commented on #117
@dhirschfeld, thanks for the update. It seems that it will take some time to have ConPTY available, also, it seems that it will be supported only by Windows 10, which leaves other mainstream versions such as 7 or 8 without native PTY support. We will have to wait until the official release.

[2018-08-23 15:25] ccordoba12 commented on #117
Cool stuff, thanks for sharing @dhirschfeld!

[2018-08-24 00:49] dhirschfeld commented on #117
Yeah, it will be years before you can assume it's available (Win7 EOL is Jan 2020). Still, it's an interesting development!

[2018-08-24 00:49] #117 closed, assigned to nobody

[2018-12-09 19:51] 2-5 opened #118 "pip install fails on 3.7, prevents Jupyter install"
Installation fails with error:
`winpty/cywinpty.c(598): fatal error C1083: Cannot open include file: 'winpty.h': No such file or directory`

[code]

[2018-12-09 21:01] ccordoba12 commented on #118
We need to create wheels for Python 3.7 to solve this error.

[2018-12-10 00:42] #116 closed, assigned to nobody

[2018-12-10 00:42] #118 closed, assigned to nobody

[2018-12-10 00:56] andfoy opened #120 "Release v0.5.5"

[2018-12-10 00:57] #120 closed, assigned to andfoy

[2019-05-01 23:26] andfoy opened #121 "Expose winpty conerr pipe"
Exposing conerr will allow processes to read from a process' error stream. This is necessary to grab log messages for LSP clients in Spyder https://github.com/spyder-ide/spyder/pull/9249

[2019-05-04 01:14] andfoy opened #122 "Support ConPTY on Windows 10"
https://devblogs.microsoft.com/commandline/windows-command-line-introducing-the-windows-pseudo-console-conpty/

[2019-05-05 10:51] dhirschfeld commented on #122
***xref:*** #117

[2019-05-05 11:15] ccordoba12 commented on #122
Also https://github.com/Microsoft/node-pty/pull/236

[2019-10-17 21:17] AndrewUshakov opened #123 "pip install fails on Python 3.8/Windoes"
Please, add support to Python 3.8/Windows 64 bit. Situation is exactly the same as in issue #118.

[2019-10-18 15:14] andfoy commented on #123
@AndrewUshakov, thanks for reporting this one, however, will be unable to fix it until conda publishes 3.8 packages officially. In the meantime, please try the building instructions at https://github.com/spyder-ide/pywinpty#building-from-source, this requires you to compile and install [winpty](https://github.com/rprichard/winpty) binaries and MSYS2/MinGW compilers.

[2019-10-18 19:16] AndrewUshakov commented on #123
@andfoy,  thank you. I created this issue only because I discovered it during installation of jupyter package with pip. That is, problem can influence on many people. Also, working whl can be found here: https://www.lfd.uci.edu/~gohlke/pythonlibs/#pywinpty so I do not understand, why did you mention conda?

[2019-10-18 20:19] andfoy commented on #123
Our build system depends on conda-forge, do we depend on it

[2019-10-23 07:22] riyadfebrian commented on #123
i had the same problem on python 3.8.
 do u know when Anaconda for 3.8 packages will release ?

[2019-10-28 13:56] mlabarrere commented on #123
Hello,

As seen on the https://anaconda.org/anaconda/python, Anaconda Python 3.8 is available.

Do you have an option to install `pywinpty` gracefully? The `jupyter notebook` install depends on it.

Many thanks for your help.

Best

[2019-10-31 16:51] idorurez opened #124 "argv[0] empty string in spawned executable"
Not sure if this is a limitation of winpty/pywinpty, but when I spawn "program.exe" and loop through argv, argc does note the total arguments, but argv[0] remains an empty string--everything else appears just fine. This isn't an issue when I run the command in Windows Powershell however.

Any idea where I can start looking?

[2019-10-31 16:54] idorurez commented on #124
To be precise, I have "program.exe" print out all of the arguments from 0 to argc-1 just to be sure I wasn't going crazy.

[2019-11-26 21:55] #123 closed, assigned to nobody

[2019-11-26 22:16] andfoy opened #126 "Release v0.5.6"

[2019-11-26 22:18] ccordoba12 commented on #126
Just a quick note: this will only add support for Python 3.8

[2019-11-26 23:49] #126 closed, assigned to andfoy

[2019-11-27 03:10] andfoy opened #128 "Release v0.5.7"

[2019-11-27 03:12] #128 closed, assigned to andfoy

[2019-12-24 12:51] atakli commented on #123
@mlabarrere I had a problem with installing jupyter for python 3.8. Then I have installed pywinpty from [here ](https://www.lfd.uci.edu/~gohlke/pythonlibs/#pywinpty)and solved.

[2020-01-03 05:28] kikumar3189 commented on #118
Facing the same issue for Python 3.8 32 Bit on Win 10

[2020-01-03 05:31] kikumar3189 opened #129 "pip install fails on Python 3.8 32-bit, prevents Jupyter install"
pip install --proxy=<proxy> pywinpty

Collecting pywinpty
  Using cached https://files.pythonhosted.org/packages/5d/97/8e43c2152a638cdb83d45644eb125c752abe67249f94bb3e3e29b0709685/pywinpty-0.5.7.tar.gz
Building wheels for collected packages: pywinpty
  Building wheel for pywinpty (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: 'c:\program files (x86)\python38-32\p

[2020-01-03 06:51] ccordoba12 commented on #129
We can't generate 32 bit wheels, sorry. Please use a 64bit build of Python.

[2020-01-03 06:51] #129 closed, assigned to nobody

[2020-01-26 16:51] Zikoat opened #130 "pip install fails on 3.8.1, prevents Jupyter install"
Facing the same issue for Python 3.8 32 Bit on Win 10

_Originally posted by @kikumar3189 in https://github.com/spyder-ide/pywinpty/issues/118#issuecomment-570467209_

[2020-01-26 18:12] ccordoba12 commented on #130
Sorry but we don't have the means to create 32 bit wheels. It's 2020, so it's time to move to a 64 bit platform.

[2020-01-26 18:12] #130 closed, assigned to nobody

[2020-05-04 22:06] goanpeca commented on #124
What do you think the problem is @andfoy ?

[2020-05-12 11:52] astrojuanlu opened #131 "Package installs correctly without Cython, fails with Cython"
I am a bit puzzled about this behavior while installing pywinpty: apparently `pip install pywinpty` succeeds when Cython is _not_ present, but it fails when it is.

No Cython:

<details>

[code]
</details>

Cython:

<details>

[code]
</details>

[2020-05-12 14:50] goanpeca commented on #131
Please check this behavior @andfoy

[2020-05-12 17:00] ccordoba12 commented on #131
@astrojuanlu, why are you using pip to install Pywinpty in Anaconda?

[2020-05-12 17:08] astrojuanlu commented on #131
@ccordoba12 I have no reason to do it at all :) I arrived here while I was debugging something else.

[2020-05-12 17:18] goanpeca commented on #131
I do not think @astrojuanlu is using Anaconda?

[2020-05-12 17:40] astrojuanlu commented on #131
In this particular case I was experimenting in a conda environment on
Windows, yes.

On Tue, 12 May 2020, 19:18 Gonzalo Peña-Castellanos, <
notifications@github.com> wrote:

[2020-05-12 17:54] goanpeca commented on #131
👍🏼

[2020-05-12 18:04] ccordoba12 commented on #131
What happens if you use conda instead? With and without Cython, I mean?

[2020-05-13 06:43] astrojuanlu commented on #131
To be clear, my intention is not to install pywinpty using pip and sdists. There are wheels as well as conda packages, and I'm 99.99 % sure that these would work without problems. But clearly there's something wrong in `setup.py` if the installation from an sdist succeeds when Cython is not installed. There are a couple of references ([this](https://github.com/pypa/setuptools/issues/1317), and [th

[2020-09-01 17:45] Blastorios commented on #131
Not entirely sure whether this issue is still persistent but I just encountered a similar problem. Creating a virtual environment with Python 3.8.3 venv on a 64-bit Windows 10 with Cython (0.29.21) preinstalled causes the following issue at the 'Running setup.py install for pywinpty':

`winpty/cywinpty.c(629): fatal error c1083: cannot open include file: 'winpty.h': no such file or directory`

<de

[2020-09-29 21:21] marcoxa opened #132 "pywinpty fails to install with pip on a fresh W10 Python installation"
Hi

here is the error trace.  There is a problem creating/overwriting a temp folder for Cython.

I am not much of a Python programmer, and I usually do not want to resort to hairy workarounds.

Do you guys have any idea about how to fix this?

[code]

[2020-09-30 13:26] marcoxa commented on #132
FYI

PS C:\Users\marco\Source\Repos> pip --version
pip 20.2.3 from c:\users\marco\appdata\local\programs\python\python38\lib\site-packages\pip (python 3.8)
PS C:\Users\marco\Source\Repos> python --version
Python 3.8.6

[2020-09-30 13:35] ccordoba12 commented on #132
We don't provide wheels for 32 bit Python 3.8 installations, sorry. Is your system 32 bit?

[2020-09-30 14:30] marcoxa commented on #132
No it isn't.  It is a clean 64 bit installation.  It does not work on my machine(s) :)  Two of them.  I can try a third one.

The problem is the attempted overwriting on a file.

I issue

      pip install jupyter

from scratch, so I doubt it could be some versioning issue of some of the other tool.

Any ideas?

Marco

[2020-09-30 14:36] ccordoba12 commented on #132
Then you installed a 32 bit Python. Please uninstall it and reinstall a 64 bit version.

No, it's not. pip is trying to build a wheel for you because it can't find a prebuilt one in PyPI. So if your Windows system is 64 bit, simply using a 64 bit Python should fix the problem.

[2020-09-30 16:52] marcoxa commented on #132
Nope.  I installed the 64 bit Python straight from python.org.

I *am using a 64* bit Python as well as everything else.  This is not the problem another user reported some time ago; I did my homework before posting the bug report.  The error is different.  Check the log I posted.

All the best

Marco

[2020-09-30 18:57] ccordoba12 commented on #132
This is the part in your logs that clearly indicates pip is trying to build the package instead of downloading the wheel:

  Using cached pywinpty-0.5.7.tar.gz (49 kB)
Building wheels for collected packages: pywinpty
  Building wheel for pywinpty (setup.py) ... error

As you can see, pip is not pulling our wheel from PyPI but our tarball to build it. And we provide wheels for Python 3.8:

https://

[2020-09-30 19:12] marcoxa commented on #132
Ok.  That explains the rebuilding vs the downloading.

But I should be able to build the wheel locally no matter what.  I am no expert, but this seem to point to a problem in the building procedure.

All the best

Marco

[2020-10-02 15:12] marcoxa commented on #132
Just checking...

So, it is a problem in setup.py after all, isn't it?

[2020-10-02 15:19] ccordoba12 commented on #132
No, it isn't because we use `setup.py` to build our wheel.

[2020-10-02 18:09] marcoxa commented on #132
Ok.  But shouldn't it still be able to build locally from the tar file?

Note that the error is a write error on the file system.

[2020-10-03 04:01] ccordoba12 commented on #132
No, because this is not a pure Python package. It compiles bindings for the Winpty C library using the MinGW toolchain.

I saw that but have no idea why that happens.

[2020-10-03 13:39] marcoxa commented on #132
I have the MinGW toolchain installed.  I can also try with the MS Toolchain.

Ok.  So, are there any chances of seeing this assigned to anybody?

[2020-10-03 13:58] ccordoba12 commented on #132
Sorry, we don't have time to look into this.

[2020-10-04 09:58] marcoxa commented on #132
Fair enough...

In any case, here is the log of the error.  I believe it will tell you why pip cannot find the proper wheel.

I am running this in with the following pip configuration.

[code]

I don't know exactly what it's happening, but if you look at the lines before pip gives loading the wheel and tries to start building form the tar it looks like there is some mismatch with the wheel's tags.

[2020-10-08 09:42] marcoxa commented on #132
Hi,

just checking...  my diagnosis is that you guys need to provide a new wheel for pip to find with the combination of pip/setuptools/wheel above (which is "state of the art").

All the best

Marco

[2020-10-08 17:36] ccordoba12 commented on #132
Sorry but we're not going to do that. Since this is a core dependency of Jupyter, if the problem you're having would be seen by the rest of its users, we'd have hordes of people complaining about it here.

But you're the only one doing it. So I don't know what happens in your case.

[2020-10-08 17:58] marcoxa commented on #132
It may be so.

But maybe you are not seeing it yet, because it looks like most people are using anaconda to install Jupyter.  And anaconda, I discovered, has not upgraded to pip 20.x yet.  Note that I am installing on a very, very fresh Windows and (bare) Python setup.

I may be wrong, but you will be seeing more of this error here, unless a more coordinated upgrade to anaconda and the Jupyter cor

[2020-10-29 19:51] pllim opened #133 "MNT: Stop using ci-helpers in appveyor.yml"
To whom it may concern,

If you are using https://github.com/astropy/ci-helpers in your appveyor.yml , please know that the Astropy project has dropped active development/support for Appveyor CI. If it still works, good for you, because we did not remove the relevant files (yet). But if it ever stops working, we have no plans to fix anything for Appveyor CI. Please consider using native Windows su

[2020-10-31 13:42] pasteman opened #134 "Will it provide Python 3.9 version support?"

[2020-11-06 09:50] lee-shun opened #135 "Can't compile pywinpty on Nvidia TX2"
winpty/cywinpty.c:628:21: fatal error: Windows.h: No such file or directory
  compilation terminated.
  error: command 'aarch64-linux-gnu-gcc' failed with exit status 1

  ----------------------------------------
  Failed building wheel for pywinpty

but I can build it on the X86 platform well, could you help me? It seems like there's no Window.h on TX2(arm platform)

[2020-12-13 00:30] bashtage commented on #134
Could use a Python 3.9 wheel for Windows.  Can't currently build.

[2020-12-15 12:56] hb20007 commented on #134
Facing an error running `pip install pywinpty` with Python 3.9.0. It would be nice to have support.

[2021-03-12 21:00] aaronsmith1234 commented on #134
I agree, this would be a fantastic thing to have

[2021-04-02 11:11] lefi7z commented on #132
Just for the record, I'm having the exact same problem:

[code]

[2021-04-15 17:39] andfoy commented on #134
Thanks for raising this issue, right now the Spyder IDE team was busy with releasing Spyder 5.0.0, however, an update for this package is going to come soon

[2021-04-15 17:40] andfoy commented on #135
Hi @lee-shun, it seems that you are trying to compile pywinpty on a Linux machine, while pywinpty is a Windows-only library

[2021-04-15 17:40] #135 closed, assigned to nobody

[2021-04-15 17:40] andfoy opened #136 "Update CIs to use Github Actions"

[2021-04-26 23:25] ccordoba12 opened #138 "Update Readme"
Our Readme needs to be updated to describe how to compile version 1.0 of Pywinpty.

[2021-04-26 23:39] #121 closed, assigned to nobody

[2021-04-26 23:39] #122 closed, assigned to nobody

[2021-04-26 23:39] #131 closed, assigned to andfoy

[2021-04-26 23:39] #133 closed, assigned to nobody

[2021-04-26 23:39] #134 closed, assigned to nobody

[2021-04-26 23:39] #136 closed, assigned to andfoy

[2021-04-26 23:44] randy3k commented on #122
Wow, can't believe that it will happen this soon.

[2021-04-27 01:06] #138 closed, assigned to andfoy

[2021-04-27 01:12] andfoy opened #140 "Release v1.0.0"

[2021-04-27 01:14] andfoy opened #141 "Update RELEASE instructions and add release github actions"

[2021-04-27 02:07] #141 closed, assigned to andfoy

[2021-04-27 02:19] #140 closed, assigned to andfoy

[2021-04-27 05:34] andy-maier opened #143 "Pip attempts to install pywinpty on Python 2.7"
Pywinpty does not declare which Python versions it supports. This causes pip to install the latest version 1.0.0 on Python 2.7 (which fails when installing the 'maturin' dependent package).

The proper fix for this is to declare the supported Python versions in the pywinpty package such that pip recognizes them.

[2021-04-27 16:00] ccordoba12 commented on #143
Hey @andy-maier, thanks for reporting. You're totally right.

@andfoy, I think we need to add `python_requires` to our `pyproject.toml` to fix this.

[2021-04-27 17:18] #143 closed, assigned to andfoy

[2021-04-27 18:00] andfoy opened #145 "Release v1.0.1"

[2021-04-27 18:04] #145 closed, assigned to andfoy

[2021-04-30 06:57] randy3k opened #146 "pywinpty 1.0.1 doesn't play well with github action"
It seems that pywinpty 1.0.1 will freeze the python script running in [github action](https://github.com/randy3k/pywinpty-reproducible-example/runs/2473502796?check_suite_focus=true)

The same script is running fine with [pywinpty 0.5.7](https://github.com/randy3k/pywinpty-reproducible-example/runs/2473502869?check_suite_focus=true).

A reproducible (yet not minimal) example can be found at https:

[2021-04-30 12:20] bashtage opened #147 "32-bit Wheels missing"
Releases prior to 1.0 had 32-bit wheels.  Are the missing 32-bit wheels by design or just an omission?  The missing wheels makes testing 32-bit Windows more challenging.

[2021-04-30 17:48] andfoy commented on #147
Hi @bashtage, we use CI machines in order to compile the wheels, sadly, most of the services have been phasing out support for x86 architectures. Also, conda-forge doesn't support 32-bit builds anymore, so basically we dropped the support for 32 bit wheels. In this case I'd suggest to stick to the last release that did support 32-bit machines.

[2021-04-30 17:48] #147 closed, assigned to nobody

[2021-04-30 17:57] andfoy commented on #146
Hi @randy3k, this is most probably some block related to a read operation in ``PtyProcess``, could you please try to add some print information to see where does the process hangs? You can also jump in into the Github Action machine via RDP by following this repo: https://github.com/nelsonjchen/reverse-rdp-windows-github-actions, please let me know if you are able to find something

[2021-05-14 16:11] stonebig opened #148 "could there be a pywinpty wheel for pypy3.7-v7.3.5-win64."
it's tricky to try compile Pywinpty for PyPy3, apparently you need some sort of cross-compilation

[2021-05-14 21:16] andfoy commented on #148
In theory maturin supports pypy compilation: https://github.com/PyO3/maturin#pypy, however I don't know how it does interface with the MSVC toolchain, have you tried to compile it @stonebig?

[2021-05-14 21:21] andfoy commented on #148
It seems that conda-forge does not allow to install pypy on Windows: https://conda-forge.org/blog/posts/2020-03-10-pypy/

[2021-05-17 19:38] andfoy opened #152 "Release v1.1.0"

[2021-05-17 19:38] #152 closed, assigned to andfoy

[2021-05-17 20:00] andfoy commented on #146
@randy3k could you please try with the latest release of pywinpty, v1.1.0?

[2021-05-17 20:04] randy3k commented on #146
Yeah, it is working now.

[2021-05-17 20:04] #146 closed, assigned to nobody

[2021-05-17 21:22] andfoy commented on #132
Closing this one, since the errors were reported on the 0.5.x series of pywinpty

[2021-05-17 21:22] #132 closed, assigned to nobody

[2021-05-18 05:47] andy-maier opened #153 "pywinpty on Pypi does not show supported Python versions or dependent packages"
The pywinpty package files on Pypi do not have the metadata for the supported Python versions or the dependent packages.

I am aware that the `pyproject.toml` file specifies them:

[code]

but somehow it happens that the packages on Pypi miss that.

The place where that metadata would normally be is the METADATA file in the .whl archives, and the PKG-INFO file in the source archive. That is also w

[2021-05-18 19:20] #153 closed, assigned to andfoy

[2021-05-18 19:22] andfoy opened #155 "Release v1.1.1"

[2021-05-18 19:23] #155 closed, assigned to andfoy

[2021-06-07 13:54] tirkarthi opened #157 "threading.Thread.setDaemon has been deprecated in favor of setting daemon attribute directly in Python 3.10"
Ref : python/cpython#25174

https://github.com/spyder-ide/pywinpty/blob/51073ae18317b857ea6261a6fdc635454a08d25c/winpty/ptyprocess.py#L52

[2021-06-08 17:13] #157 closed, assigned to nobody

[2021-06-10 19:32] andfoy opened #160 "Release v1.1.2"

[2021-06-10 19:32] #160 closed, assigned to andfoy

[2021-06-11 13:19] nikhil-mohite opened #161 "pywinpty: winpty.dll loading issue."
Hi Team,

I am using pywinpty to create pseudoterminal, It is working fine with Windows 10 version 1809 and above. but it is falling for versions below 1809.
Getting the error:  "Exception in import winpty DLL load failed while importing winpty: The specified procedure could not be found.".

As we know Windows 10 version 1809 added support for ConPty so it is working with it, but if ConPty is not

[2021-06-22 21:59] andfoy commented on #161
Hi @nikhil-mohite, this is indeed an issue with machines where the `CreatePseudoConsole` call is not available. Right now we are linking directly to system32, and the library switching is not working as expected, we most probably should apply dynamic loading here.

[2021-06-24 17:10] andfoy commented on #148
It seems that someone is producing PyPy wheels already: https://www.lfd.uci.edu/~gohlke/pythonlibs/#pywinpty

[2021-06-24 17:15] andfoy opened #163 "Fix ConPTY stderr redirection"
It seems that stderr messages are being captured by the parent process that spawns a ConPTY instance

[2021-06-24 17:18] stonebig commented on #148
Yes he does, now. And it's not just someone, it's the-one Christoph Gohlke that does the equivalent of pypy-forge-for-windows since 10 years+.

[2021-06-24 17:18] #148 closed, assigned to nobody

[2021-06-24 22:46] #163 closed, assigned to nobody

[2021-06-24 23:11] andfoy opened #167 "Release v1.1.3"

[2021-06-24 23:15] #167 closed, assigned to andfoy

[2021-08-11 22:23] dragoljub commented on #161
I'm running into the same issue. Is there any way to install ConPty or do you have to wait for the new windows version?

[2021-08-11 23:44] andfoy commented on #161
I think you can install the latest Windows 10 SDK: https://developer.microsoft.com/en-us/windows/downloads/windows-10-sdk/

[2021-08-12 00:10] dragoljub commented on #161
Thanks! I'll give this a shot. For now I just downgraded to the older version of pywinpty and terminado which seemed to work.

[2021-09-01 15:13] mattip commented on #148
conda-forge has a windows pypy migration going at the moment to try to support pypy + windows + python3.7. This package [does not build](https://github.com/conda-forge/pywinpty-feedstock/pull/38) because it needs `maturin >= 0.11.3` but there was concern expressed on that PR that the project tried updating maturin and failed.

[2021-09-01 21:39] andfoy opened #176 "Release v1.1.4"

[2021-09-01 21:39] #176 closed, assigned to andfoy

[2021-10-04 07:40] abingham opened #183 "Constructing PTY instance kills terminal"
When I try to construct a `PTY` instance, it terminates my terminal program. With both cmd.exe and PowerShell, the following program will kill my terminal as soon as I execute the PTY constructor:
[code]

Strangely, the terminal built in to VSCode seems to behave correctly when I do the same thing.

This is on Windows 10, build 19043.1237. I'm running Windows under Parallels Desktop 17 on macos 11

[2021-10-06 23:05] andfoy commented on #183
Hi @abingham, thanks for reaching out! I have a question, does any error message comes up? Or did it fail immediately? Also, have you tried setting a backend directly?

[code]

[2021-10-07 05:50] abingham commented on #183
It appears to fail immediately. The window disappears right away. If there are any messages being printed, I'm not able to see them.

This seems to make things work! Thanks for pointing that out.

[2021-10-07 05:52] abingham commented on #183
Sorry, didn't mean to close this.

It seems like I should be able to use the ConPTY backend, so is there more I should try?

[2021-10-07 06:09] abingham commented on #183
Also, it appears that the `backend` argument to `PtyProcess.spawn` is ignored. On `ptyprocess.py:93`, the `backend` variable is overwritten with the value of the `PYWINPTY_BACKEND` environment variable. This is a tangential issue, but I thought it was worth mentioning. Is the intent that the `backend` argument should be used unless the environment variable is set?

[2021-10-07 17:09] andfoy commented on #183
Did all backends worked as expected when called explicitly? i.e., `Backend.ConPTY` and `Backend.WinPTY`?

This is actually an error on our part, we should not ignore the backend value in `PtyProcess` if the environment variable is not set. However, `PtyProcess` is a higher-level interface that wraps `PTY`, so this bug is not related to the initial reported failure. Thanks for pointing it out

[2021-10-08 05:45] abingham commented on #183
No, it works with `WinPTY` but fails with the initially reported behavior when I use `ConPTY`.

[2021-10-08 05:50] abingham opened #184 "The `backend` argument to `PtyProcess.spawn()` is ignored"
It appears that the `backend` argument to `PtyProcess.spawn()` is ignored. On [ptyprocess.py:93](https://github.com/spyder-ide/pywinpty/blob/e898abae3f534673982397b3141745a82b885afd/winpty/ptyprocess.py#L93), the `backend` variable is overwritten with the value of the `PYWINPTY_BACKEND` environment variable. Is the intent that the `backend` argument should be used unless the environment variable i

[2021-10-09 12:18] Perlence opened #185 "The wheel for Python 3.10 is not available"
Hello! Could you please build a wheel of pywinpty 1.1.4 for Python 3.10 and upload it to PyPI? Thank you!

[2021-10-11 16:33] #185 closed, assigned to nobody

[2021-10-11 16:57] andfoy commented on #183
I think the only sensible step to take here is to try to debug on MSVC to see what's happening, you can either put `std::cout` prints in https://github.com/spyder-ide/pywinpty/blob/36b4c00ca1a89f67edd06db508b495d044aaf6d2/src/csrc/conpty_common.cpp#L75 or using `DebugEnv` (https://docs.microsoft.com/en-us/visualstudio/ide/reference/debugexe-devenv-exe?view=vs-2019) on `python.exe`, please let me k

[2021-10-16 22:12] gaogaotiantian opened #187 "Failed to build on github actions with python 3.10"
Hi,

I tried to install jupyter through pip in a github action, using Python3.10. However, ``pywinpty`` failed to build. I saw that there's no existing wheels for py3.10 on pypi, is there a plan to support that soon as it's a released stable version now?

Just in case it's useful, the failure on github action is:

[code]

[2021-10-17 04:34] ccordoba12 commented on #187
Duplicate of #185

[2021-10-17 04:34] #187 closed, assigned to nobody

[2021-10-26 02:41] jayqi commented on #185
Any movement on this? It's been two weeks since #186 was merged, and it looks like there are no other issues attached to the 1.15 milestone.

[2021-11-11 10:44] niyas-sait opened #197 "test_ptyprocess.py terminating early due to child process exit"
I've been trying to port pywinpty for windows on arm64 platform and while trying to run the unit tests (using `python runtests.py` or `pytest`) the tests terminate early during executing tests from test_ptyprocess.py.

I think this happens when we try to terminate a forked child by os.kill or an exit statement to the application.

I've tried this on the x64 windows as well and I see the same behav

[2021-11-11 10:45] niyas-sait commented on #197
@andfoy Thoughts ?

[2021-11-11 14:52] niyas-sait commented on #197
Looks like the test has been progressing it is just that I don't get to see the output on the terminal anymore. If I pipe the output to a file then I can see that tests are all passing as expected.

[code]

[2021-11-11 16:54] andfoy commented on #197
This is weird, since standard streams are being recreated in case the parent has redirected them:

https://github.com/spyder-ide/pywinpty/blob/bceb88334eea2355cab2216b8cead091dbb7246e/src/csrc/conpty_common.cpp#L94

Did the error occur on a cmd prompt?

[2021-11-11 21:28] niyas-sait commented on #197
yes, I've tried both cmd prompt and powershell. Same behaviour observed

[2021-11-14 08:24] messense opened #200 "Does pywinpty support or want to support mingw?"
We get a bug report in [maturin](https://github.com/PyO3/maturin/issues/676) which is related to pywinpty, so I want to ask if pywinpty support or want to support mingw.

I have a fix for that issue in https://github.com/PyO3/maturin/pull/677 but I don't have a working mingw64 build environment to test it, so help appreciated!

[2021-11-15 19:39] andfoy commented on #200
I haven't tried to compile pywinpty using MinGW, I need to reproduce it, let me set up a mingw-w64 environment to see if it is possible to do so.

[2021-11-15 19:40] andfoy opened #201 "Release v1.1.6"

[2021-11-15 19:41] #201 closed, assigned to nobody

[2022-01-25 20:43] andfoy opened #207 "Release v2.0.0"

[2022-01-25 20:43] #207 closed, assigned to nobody

[2022-01-25 20:52] andfoy commented on #184
Thanks for reporting this issue! I'm glad to inform you that it was fixed on v2.0.0

[2022-01-25 20:52] #184 closed, assigned to nobody

[2022-01-25 21:28] andfoy opened #209 "Release v2.0.1"

[2022-01-25 21:28] #209 closed, assigned to nobody

[2022-02-02 13:42] segevfiner opened #210 "Write output corruption when spawning pwsh"
[code]
(With `starship` prompt installed)

I'm getting the following:
[code]

That `Display all 131 possibilities` shouldn't be there, it's like someone pressed tab, but at no point in the code did I send a tab character, it seems like the string is corrupted on output, missing null terminator perhaps? Or encoding error?

[2022-02-02 13:53] segevfiner commented on #210
~Yep. Right here: https://github.com/andfoy/winpty-rs/blob/3b08c65244630fb5c1b7772b0295f317e92e98b9/src/pty/base.rs#L444-L454~

~`encode_wide` does not add a null terminator, but you are calling `WideCharToMultiByte` with `-1` which tells it to treat it as a null terminated string. Undefined Behavior! as the Rust books like to proclaim. 😝~

**EDIT:** But you did manually add a null terminator, so

[2022-02-02 19:03] #210 closed, assigned to nobody

[2022-02-02 22:26] segevfiner commented on #210
The fix was merged. Thanks @andfoy. But winpty-rs and this module still need to be released for the fix to be picked up. (Just an FYI in case anyone hits this).

P.S. This module seems to have not committed the Cargo.lock which means it will build with whatever happens to be the latest matching versions of winpty-rs and other libraries. I think this is a case where you should commit the Cargo.lock

[2022-02-03 15:54] ccordoba12 commented on #210
@andfoy is the maintainer of this project as well (as you can see in the commit history).

[2022-02-03 16:29] segevfiner commented on #210
Yeah. I know. It's up to him when to make a new release of this.

[2022-02-03 19:03] andfoy opened #212 "Release v2.0.2"

[2022-02-03 19:03] #212 closed, assigned to nobody

[2022-03-02 22:25] andfoy opened #216 "Release v2.0.3"

[2022-03-02 22:26] #216 closed, assigned to nobody

[2022-03-02 23:28] blink1073 opened #217 "ConPTY is not fully working in CI"
Re-running a previously passing [job](https://github.com/spyder-ide/pywinpty/actions/runs/1791280473) shows that ConPTY started timing out on certain tests.  We skipped those tests with XFAIL in #213

[2022-03-03 01:14] fuhuifang opened #218 "Build failure on windows py3.6"
Please find the logs below. With pywinpty 2.0.3, the build is broken. It used to work properly with pywinpty 2.0.2. Do you still support py3.6?
[code]

[2022-03-03 19:17] andfoy commented on #217
This roots out on https://github.com/andfoy/winpty-rs/issues/23

[2022-03-03 19:21] andfoy commented on #218
Hi @fuhuifang, thanks for reaching out, by looking at the logs, it seems that the build error is due to PyO3 rather than of pywinpty. By looking at PyO3 changelog, they removed Python 3.6 support on version 0.16.0: https://github.com/PyO3/pyo3/pull/2006

We definitely need to update our constraints on https://github.com/spyder-ide/pywinpty/blob/5e5fd2ab75efb21f2c32bf80fc8a43a29931f707/pyproject.to

[2022-03-03 21:09] andfoy commented on #217
First note: New CI images use Windows Server 2022, whereas previously they used 2019 and some tests are now running as expected

[2022-03-03 21:45] andfoy commented on #217
Yes, indeed, now tests are passing: https://github.com/andfoy/winpty-rs/pull/24. I'll produce a `winpty-rs` release and make some changes here

[2022-03-03 22:03] blink1073 commented on #217
Nice detective work!  Once there is a new `pywinpty` release I'll try removing the explicit backend in `terminado`.

[2022-03-03 23:22] andfoy commented on #197
@nsait-linaro, do you know if this issue still occurs with the latest release?

[2022-03-03 23:22] andfoy commented on #183
Hi @abingham, could you please indicate if this issue still occurs with the latest version?

[2022-03-03 23:23] #124 closed, assigned to andfoy

[2022-03-04 00:38] #217 closed, assigned to nobody

[2022-03-04 00:38] #218 closed, assigned to nobody

[2022-03-04 00:38] andfoy opened #220 "Release v2.0.4"

[2022-03-04 00:38] #220 closed, assigned to nobody

[2022-03-05 04:16] andfoy opened #227 "Release v2.0.5"

[2022-03-05 04:16] #227 closed, assigned to nobody

[2022-03-07 06:39] abingham commented on #183
I will try to do this sometime soon. My windows 10 system was retired, though I think I might be able to spin it up for this.

[2022-03-23 16:18] davidbrochart opened #239 "Async read?"
Currently, it is possible to read from a PTY process in a blocking or a non-blocking way.
Would it be possible to have an async read?

[2022-07-06 21:01] andfoy opened #253 "Release v2.0.6"

[2022-07-06 21:01] #253 closed, assigned to nobody

[2022-08-05 16:37] andfoy opened #266 "Release v2.0.7"

[2022-08-05 16:37] #266 closed, assigned to nobody

[2022-08-16 02:09] Robatronic opened #269 "Garbled output on Telnet Client"
I'm trying to write a wrapper around Windows console apps that will allow me to connect to their stdio from network/remote clients. It is a VERY pared down concept of what Terminado does.

Each new connection gets a "reader" task that writes directly to the subprocess stdin and there is a "writer" class that monitors a global queue of pty output and forwards the bytes on to all connected clients.

[2022-08-17 19:52] andfoy commented on #269
Hi @Robatronic, thanks for reaching out! I have two questions regarding your use-case of pywinpty:

1. Have you tried to use the library in a synchronous fashion? Without using async primitives?
2. Do you know which backend is being used? Right now `ConPTY` is using VT100 by default: https://github.com/andfoy/winpty-rs/blob/3d5a3a8604be35ad0ce8e37b23dd5e7ab914697e/src/pty/conpty/pty_impl.rs#L126,

[2022-08-17 20:58] Robatronic commented on #269
1. I'm working on building one presently, I'll let you know how that goes.  :)
2. I have tried both ConPTY and WinPTY with the same results.

[2022-08-17 22:35] Robatronic commented on #269
Here's what I wrote:

    import logging
    logging.basicConfig(level=logging.DEBUG)
    from winpty import PtyProcess as PtyProcessUnicode, Backend
    import time
    import codecs
    import socketserver

    pty = None

    OUTPUT_CACHE = b''

    class ptyTCPHandler(socketserver.BaseRequestHandler):
        """
        The request handler class for our server.

        It is instantiated onc

[2022-08-17 22:47] Robatronic commented on #269
This is the output on connecting:

    0;C:\Windows\System32\cmd.exeMicrosoft Windows [Version 10.0.18363.1556][9C
    (c) 2019 Microsoft Corporation. All rights reserved.
    [52C
    D:\sandbox\epics\pyProcServ\area_51>[16C

[2022-08-17 22:59] Robatronic commented on #269
...then, after hitting enter and typing in dir....

    D:\sandbox\epics\pyProcServ\area_51>ddirir
    Volume in drive D is DATA[35C
    Volume Serial Number is DCBD-282A[27C
    [61C
     Directory of D:\sandbox\epics\pyProcServ\area_51[12C
    [61C
    2022-08-17  04:51 PM    <DIR>          .[21C
    2022-08-17  04:51 PM    <DIR>          ..[20C
    2021-12-09  06:06 PM               943 asyncio

[2022-08-17 23:00] Robatronic commented on #269
Telnet settings:

Escape Character is 'CTRL+]'
Will auth(NTLM Authentication)
Local echo off
New line mode - Causes return key to send CR & LF
Current mode: Console
Will term type
Preferred term type is ANSI

[2022-08-17 23:00] Robatronic commented on #269
Looking at it, I'm starting to wonder if some of the escape codes aren't being sent as an atomic unit.....

[2022-08-17 23:17] Robatronic commented on #269
The terminado project is very slick.

I'm trying to do similar with regular sockets rather than websockets.....

[2022-08-18 14:53] andfoy commented on #269
Does terminado outputs the program correctly?

[2022-08-21 22:16] Robatronic commented on #269
It does

I first found Terminado in Jupyterlab and dug in to find it uses pyWinPty.

I have another experiment I want to do to try and track down where the issue is.

[2022-09-05 06:19] Elijah57 commented on #129
can I install 64bit build of python on a 32 bit machine(windows 7)

[2022-09-05 14:06] ccordoba12 commented on #129
No, you can't, sorry.

[2022-09-16 00:00] andfoy opened #281 "Release v2.0.8"

[2022-09-16 00:00] #281 closed, assigned to nobody

[2022-10-26 03:37] NoahELE opened #295 "Failed to install with python 3.11"
Here's the output after I type `pip install -U pywinpty`. I am using the python 3.11.0.

[code]

[2022-10-26 18:07] andfoy commented on #295
Hi @NoahELE, right now I haven't published any Python 3.11 wheels, this is a pending task

[2022-10-26 18:32] Phil-T1 commented on #295
Hi,

I have a similar issue installing on Windows 11 for Python 3.11, it's asking for Cargo to be installed. Presumably it's the lack of a wheel also.

Thanks!

Phil.

[2022-10-26 21:19] #295 closed, assigned to nobody

[2022-11-13 18:27] enjoysmath opened #304 "'Pty is closed.' BUG"
I am using pywinpty and intermittently keep getting 'Pty is closed' after spawning a process. So I was thinking I should kill all Pty processes on my system. How can I do that?

This is really tricky to debug.  Yes, I am closing the process properly before quitting the thread that uses pywinpty.  It's a PyQt5 application.  I also tried creating a separate console EXE that my GUI EXE calls, and tha